---
layout: base.liquid
title: Homepage
---

<h1>Welcome to the Pokidex!</h1>

<main>
    <p>This website connects to the PokeAPI and showcases a directory of Pokémon based on their region</p>

    <h2> Pokémon Regions </h2>
    <ul class="page_links">
        <li>
            <a href="/pokemon_images">Visit the Random Pokemon Page</a>
            <p> This page will display a random pokemon name and an image of it.</p>

        </li>
        <li>
            <a href="/all-pokemon">Pokémon</a>
            <p> This page shows all 151 original (Kanto) Pokémon. Data from kanto.js (and the PokeAPI)</p>
        </li>
    </ul>   
</main>


