---
layout: base
title: Random Pokémon
---
<!-- Local Version -->
<!-- <header>
  <h1>Random Pokémon</h1>
    <a href="/index">Back to Homepage</a>
</header>

<body>

  <div class="random-pokemon">
    <h2>{{ random_pokemon.name | capitalize }}</h2>
    <img src="{{ random_pokemon.imageUrl }}" alt="{{ random_pokemon.name | capitalize }}">
  </div>
</body> -->
<body>
  <h1>Random Pokémon</h1>
  <div id="random-pokemon-container">
    <h2 id="pokemon-name"></h2>
    <img id="pokemon-image" src="" alt="Random Pokémon">
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      fetch('/.netlify/functions/random_pokemon')
        .then(response => response.json())
        .then(data => {
          document.getElementById('pokemon-name').textContent = data.name;
          document.getElementById('pokemon-image').src = data.imageUrl;
          document.getElementById('pokemon-image').alt = data.name;
        })
        .catch(error => {
          console.error('Error fetching random pokemon:', error);
        });
    });
  </script>
</body>