---
layout: base
title: Random Pokémon
---
<!-- Local Version -->
<!-- <header>
  <h1>Random Pokémon</h1>
    <a href="/index">Back to Homepage</a>
</header>

<body>

  <div class="random-pokemon">
    <h2>{{ random_pokemon.name | capitalize }}</h2>
    <img src="{{ random_pokemon.imageUrl }}" alt="{{ random_pokemon.name | capitalize }}">
  </div>
</body> -->

<header>
  <h1>Random Pokémon</h1>
    <a href="/index">Back to Homepage</a>
</header>
<body>

<script>
  fetch('/.netlify/functions/random_pokemon')
    .then(response => response.json())
    .then(data => {
      if (data.name && data.imageUrl) {
        document.getElementById('pokemon-name').textContent = data.name;
        document.getElementById('pokemon-image').src = data.imageUrl;
        document.getElementById('pokemon-image').alt = `Image of ${data.name}`;
      }
    })
    .catch(error => console.error('Error fetching random pokemon:', error));
</script>

<h1 id="pokemon-name"></h1>
<img id="pokemon-image" alt="Random Pokemon Image">

</body>